header {
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    z-index: 1;

    .wrapper-header {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-items: start;
        position: relative;
        top: 0;
        left: 0;
        z-index: -1;

        .header-left {
            // background-color: indigo;
            width: 30%;
            height: auto;
            padding-top: 3px;

            & > img {
                width: 45px;
                height: 45px;
                border: 1px solid yellow;
                border-radius: 50%;
            }
        }
        .header-center {
            width: 30%;
            position: relative;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 0;

            .header-center-search {
                position: absolute;
                top: 10px;
                z-index: 0;

                & > input {
                    padding: 5px;
                }

                & > span > svg {
                    position: absolute;
                    top: 7px;
                    left: 80px;
                }
            }

        }
        .header-right {
            width: 40%;
            padding-top: 15px;
            padding-left: 10rem;

            & > .header-right-menu {
                margin: 0;
                padding: 0;

                .header-right-item {
                    display: initial;
                    padding: 10px;
                }
            }
        }
    }
}