.container-table-teacher {
	width: 100%;
	font-size: small;
  
	.wrapper-table-teacher {
	  width: 100%;
	  table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
	  }
	  
	  th, td {
		text-align: left;
		padding: 5px;
		overflow-y: auto;
		vertical-align: center;
	  }
	  
	  tr:nth-child(even){background-color: #f2f2f2}
	}
  }
  