.container-navbar {
    background-color: powderblue;
    height: 50px;
}

.container-navbar > .navbar-menu {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar-item  {
    float: left;
}

.navbar-item a {
    display: block;
    padding: 14px 20px;
}