.container-header {
    padding: 0;
    margin: 0;
    .wrapper-header {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        
    }

    .header-left {
        width: 50%;
        background-color: wheat;
    }
    .header-right {
        width: 50%;
        background-color: yellow;
    }
}