*{
    box-sizing: border-box;
}
body {
    display: block;
   padding: 0;
   margin: 0;
}

.wrapper__card-home {
  width: 94%;
}
.card-home {
    position: relative;
    top: 3.5rem;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    margin: 1rem;
    width: 100%;
}
.card-home__header {
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid black;
    img {
        padding-left: 0.5rem;
        width: 80px;
        height: 80px;
    }
    a { 
        text-decoration: none;
        color: black;
    }
    svg {
        padding-right: 0.5rem;
    }
}
.card-home__body{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 80%;
        height: 450px;
    }
}